altair==6.2.2
attrs==26.1.0
babel==2.18.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
et_xmlfile==2.0.0
faicons==0.2.2
great-tables==0.22.0
htmltools==0.7.0
idna==3.18
importlib_metadata==9.0.0
importlib_resources==7.1.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.1.1
MarkupSafe==3.0.3
multimark==0.2.0
narwhals==2.23.0
nokap==0.1.0
numpy==2.5.0
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pycparser==3.0
python-dateutil==2.9.0.post0
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
six==1.17.0
typing_extensions==4.16.0
urllib3==2.7.0
vl-convert-python==1.9.0.post1
websockets==16.0
zipp==4.1.0
